<div class="app flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="clearfix">
            <h1 class="float-left display-3 mr-4">401</h1>
            <h4 class="pt-3"> Role Access</h4>
            <p class="text-muted">Bạn cần cấp quyền để truy cập vào trang này .</p>
          </div>
          <div class="input-prepend input-group">
          
           <a routerLink="/pages/login" > Đăng nhập để nhận token</a>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  