<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 iaddress">
                <h2 class="text-center">Địa chỉ</h2>
                <h6>Địa chỉ: <b>Trường đại học Nông Lâm thành phố Hồ Chí Minh</b></h6>
                <h6>Số điện thoại: <b><a href="tel:+84969037662">0969 037 662</a></b></h6>
                <h6>Email: <b><a href="mailto:nguyenphatit.nl@gmail.com?Subject=Hello%203TPL" target="_top">nguyenphatit.nl@gmail.com</a></b></h6>
            </div>

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 isupport">
                <h2 class="text-center">Hỗ trợ trực tuyến</h2>
                <h6><b><a href="">Hướng dẫn đăng ký học</a></b></h6>
                <h6><b><a href="">Hướng dẫn mở lớp</a></b></h6>
                <h6><b><a href="">Hướng dẫn thanh toán</a></b></h6>
            </div>

            <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 imap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15669.479150411591!2d106.78835315!3d10.8659714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf5c1ceb1fd6fbf44!2zS2hvYSBDxqEga2jDrSAtIEPDtG5nIG5naOG7hywgVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOw7RuZyBMw6JtIFRQLiBI4buTIENow60gTWluaA!5e0!3m2!1svi!2s!4v1509663168176" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</footer>