@import url('https://fonts.googleapis.com/css?family=Arima+Madurai|Montserrat+Alternates|Sigmar+One');
$font1: 'Sigmar One', cursive;
$font2: 'Montserrat Alternates', sans-serif;
$font3: 'Arima Madurai', cursive;