.content {
	background-image: url("../images/backgroundweb.jpeg");
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@include basic-font($font2, #000000);

	.sec-nbg {
		background: #ffffff;
		padding: 50px 0 50px 0;

		.card {
			@include basic-shadow(1px, 1px, 10px, 1px, #ccc);
			@include basic-delay(1s);
			margin: 20px 0 20px 0;
			.card-img-top {
				img {
					height: 100px;
				}
				opacity: .6;
				@include basic-delay(1s);
			}

			.card-body {
				
				.parallelogram-blue {
					width: 5px;
					height: 20px;
					-webkit-transform: skew(20deg);
					-moz-transform: skew(20deg);
					-o-transform: skew(20deg);
					background: $color2;
					float: left;
					margin: 5px 2px 0 0;
				}

				.parallelogram-orange {
					width: 5px;
					height: 20px;
					-webkit-transform: skew(20deg);
					-moz-transform: skew(20deg);
					-o-transform: skew(20deg);
					background: $color4;
					float: left;
					margin: 5px 10px 0 0;
				}

				.rating {
					color: $color3;
				}

				.btninfo {
					border: 1px solid $color4;
					color: $color4;
					cursor: pointer;
					@include basic-delay(1s);
					&:hover {
						background: $color4;
						color: #ffffff;
						@include basic-delay(1s);
					}
				}
			}

			.card-footer {
				.price {
					font-family: $font3;
					font-size: 1.250em;
					color: $color5;
				}				
			}

			&:hover {
				@include basic-shadow(1px, 1px, 10px, 1px, $color4);
				@include basic-delay(1s);
			}

			&:hover .card-img-top {
				opacity: 1;
				@include basic-delay(1s);
			}
		}
	}

	.sec-bg {
		background: transparent;
		padding: 50px 0 50px 0;
	}

	.sec-obg {
		background: rgba(0, 0, 0, 0.67);
		padding: 50px 0 50px 0;
		@include basic-font($font2, #ffffff);

		&:before {
			background: rgba(0, 0, 0, 0.67);
		}
		
		h2 {
			font-family: $font1;
			font-size: 2.5em;
			color: red;
			padding-bottom: 30px;
		}
		.coltotal {
			padding-bottom: 30px;

			.colnumber {
				font-size: 4.250em;
				font-family: $font3;
			}

			.colcontent {
				text-align: justify;
			}

			.colnone {

			}

			&:hover .colnumber {
				color: $color3;
			}

			&:hover .colcontent h3 {
				color: $color3;
			}
		}

		.social {
			margin: 10px 0 10px 0;
			a {
				text-decoration: none;
				.social-facebook {
					color: #ffffff;
					background: #4267b2;
					padding: 10px 23px 10px 23px;
					border: 1px solid #29487d;
					font-size: 3.571em;
					@include basic-delay(1s);

					&:hover {
						background: #ffffff;
						color: #4267b2;
						border-radius: 50%;
						@include basic-delay(1s);
					}
				}

				.social-twitter {
					color: #ffffff;
					background: #1c94e0;
					padding: 10px 15px 10px 15px;
					border: 1px solid #1c94e0;
					font-size: 3.571em;
					@include basic-delay(1s);

					&:hover {
						background: #ffffff;
						color: #1c94e0;
						border-radius: 50%;
						@include basic-delay(1s);
					}
				}

				.social-google {
					color: #ffffff;
					background: #db4437;
					padding: 10px 15px 10px 15px;
					border: 1px solid #db4437;
					font-size: 3.571em;
					@include basic-delay(1s);

					&:hover {
						background: #ffffff;
						color: #db4437;
						border-radius: 50%;
						@include basic-delay(1s);
					}
				}

				.social-youtube {
					color: #ffffff;
					background: #e62117;
					padding: 10px 15px 10px 15px;
					border: 1px solid #e62117;
					font-size: 3.571em;
					@include basic-delay(1s);

					&:hover {
						background: #ffffff;
						color: #e62117;
						border-radius: 50%;
						@include basic-delay(1s);
					}
				}

				.social-linkedin {
					color: #ffffff;
					background: #006097;
					padding: 10px 15px 10px 15px;
					border: 1px solid #006097;
					font-size: 3.571em;
					@include basic-delay(1s);

					&:hover {
						background: #ffffff;
						color: #006097;
						border-radius: 50%;
						@include basic-delay(1s);
					}
				}

				.social-pinterest {
					color: #ffffff;
					background: #bd081c;
					padding: 10px 18px 10px 18px;
					border: 1px solid #bd081c;
					font-size: 3.571em;
					@include basic-delay(1s);

					&:hover {
						background: #ffffff;
						color: #bd081c;
						border-radius: 50%;
						@include basic-delay(1s);
					}
				}
			}
		}
		
	}
}

@media only screen and (max-device-width: 1024px) {
	.content {
		background-attachment: scroll;
	}
}
