figure.snip-images {
  font-family: $font1;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
    &:before, &:after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.55s ease;
      transition: all 0.55s ease;
    }
  }
  img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
    opacity: 0.9;
  }
  .title {
    position: absolute;
    top: 58%;
    left: 25px;
    padding: 5px 10px 10px;
    &:before, &:after {
      height: 2px;
      width: 400px;
      position: absolute;
      content: '';
      background-color: #ffffff;
    }
    &:before {
      top: 0;
      left: 10px;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    &:after {
      bottom: 0;
      right: 10px;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    div {
      &:before, &:after {
        width: 2px;
        height: 300px;
        position: absolute;
        content: '';
        background-color: #ffffff;
      }
      &:before {
        top: 10px;
        right: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
      }
      &:after {
        bottom: 10px;
        left: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
      }
    }
  }
  h2, h4 {
    margin: 0;
    text-transform: uppercase;
  }
  h2 {
    font-weight: 400;
  }
  h4 {
    display: block;
    font-weight: 700;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000;
  }
  figcaption {
    position: absolute;
    bottom: 42%;
    left: 25px;
    text-align: left;
    opacity: 0;
    padding: 5px 60px 5px 10px;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1.5px;
    p {
      margin: 0;
    }
  }
  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &:hover img, &.hover img {
    zoom: 1;
    filter: alpha(opacity = 35);
    -webkit-opacity: 0.35;
    opacity: 0.35;
  }
  &:hover .title:before, &.hover .title:before, &:hover .title:after, &.hover .title:after, &:hover .title div:before, &.hover .title div:before, &:hover .title div:after, &.hover .title div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  &:hover .title:before, &.hover .title:before, &:hover .title:after, &.hover .title:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
  &:hover figcaption, &.hover figcaption {
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
}