@import "font";
@import "color";
@import "basic";

.card-form {
	padding: 20px 0 20px 0;
	border-radius: 0;
	margin: 10% 0 10% 0;
	@include basic-font($font2, #000000);
	@include basic-shadow(0, 0, 5px, 5px, #000000);
	
	h2 {
		@include basic-font($font1, $color5);
		font-size: 2.5em;
	}

	.card-body {
		button {
			background: $color5;
			color: #FFFFFF;
			border: 1px solid $color4;
			cursor: pointer;
			@include basic-delay(1s);

			& span {
				position: relative;
				@include basic-delay(1s);
				&:after {
					content: '\00bb';
					position: absolute;
					opacity: 0;
					top: -3px;
					right: 0px;
					transition: 1s;
				}
			}

			&:hover span {
				padding-right: 15px;
			}

			&:hover span:after {
				opacity: 1;
				right: 0;
				top: -3px;
			}
		}
	}
}    
