<div id="wowslider-container1">
    <div class="ws_images">
        <ul>
            <li><img src="/assets/home/images/slide/images/slide1.jpg" alt="Phương pháp giảng dạy hiệu quả" title="Phương pháp giảng dạy hiệu quả" id="wows1_0"/></li>
            <li><img src="/assets/home/images/slide/images/slide2.jpg" alt="Học phí thấp" title="Học phí thấp" id="wows1_1"/></li>
            <li><img src="/assets/home/images/slide/images/slide3.jpg" alt="bootstrap slider" title="Giảng viên là những người có kinh nghiệm" id="wows1_2"/></li>
            <li><img src="/assets/home/images/slide/images/slide4.jpg" alt="Nhiều khóa học để chọn lựa" title="Nhiều khóa học để chọn lựa" id="wows1_3"/></li>
        </ul>
    </div>
    <div class="ws_bullets">
        <div>
            <a href="#" title="Phương pháp giảng dạy hiệu quả"><span><img src="/assets/home/images/slide/tooltips/slide1.jpg" alt="Phương pháp giảng dạy hiệu quả"/>1</span></a>
            <a href="#" title="Học phí thấp"><span><img src="/assets/home/images/slide/tooltips/slide2.jpg" alt="Học phí thấp"/>2</span></a>
            <a href="#" title="Giảng viên là những người có kinh nghiệm"><span><img src="/assets/home/images/slide/tooltips/slide3.jpg" alt="Giảng viên là những người có kinh nghiệm"/>3</span></a>
            <a href="#" title="Nhiều khóa học để chọn lựa"><span><img src="/assets/home/images/slide/tooltips/slide4.jpg" alt="Nhiều khóa học để chọn lựa"/>4</span></a>
        </div>
    </div>
    <div class="ws_shadow">	
    </div>
</div>